.navbar{ display:flex; justify-content:space-between; align-items:center; padding:20px 40px; background:#111; color:white; }
.nav-links a{ margin-left:20px; text-decoration:none; color:white; font-weight:500; position:relative; } 
.nav-links a:hover{ color:#ffc107; } .active{ color:#ffc107; }